html{
	background-image: url("https://upload.wikimedia.org/wikipedia/commons/a/a0/Environments-21-cave.png");
	background-repeat: no-repeat;
	background-attachment: fixed;

}

.allCon{
	position: relative;
	background: #5C97FF;
	overflow: hidden;
}

.header {
	text-align: center;
	font-size: 40px;
	font-family: 'Pacifico', cursive;
}

.body{
	text-align: center;
	font-size: 30px;
}